/*
 Groovin Bootstrap theme by BootstrapTaste.com
 Theme URI: http://bootstraptaste.com/groovin-free-bootstrap-theme/
 Author: BootstrapTaste
 Author URI: http://bootstraptaste.com
 */
 

/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');
/* === fontawesome === */
@import url('font-awesome.css');
/* === custom icon === */
@import url('custom-fonts.css');
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');

/* =======================================
1. Basic & general
======================================== */

::-moz-selection {
  color: #fff;
  text-shadow: none;
}
::selection {
  color: #fff;
  text-shadow: none;
}

body {
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased; 
	color:#777;
	background: #fff;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	text-shadow: none;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	line-height:1.1em;
	color: #3a3a3a;
	font-weight:300;
	margin-bottom:10px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}



section.gray {
	background-color: #f5f5f5;
}

iframe, embed, object {
	border:none;
}

/* ==== heading ==== */


.navbar.navbar-inverse {

	margin:0;
	
}


.navbar-collapse {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar .navbar-brand {
	font-weight: 900;
	color: #fff;
	position: absolute;
	margin-left: 30px;
	font-size: 28px;
}
.navbar .navbar-brand:focus {
	outline: 0;
}

.navbar-nav {
  margin-top: 0!important;
  padding:0;

}
.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1em;
}



section#intro  {
	text-align:center;
}



/* =======================================
3. Section: About
======================================== */



/* scroll to top */
.scrollup{
    position:fixed;
	width:48px;
	height:48px;
    bottom:40px;
    right:20px;
	text-align: center;
}

.scrollup i{
	margin-top: 7px;
	color: #fff;
}

a.scrollup {
	outline:0;
}

a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
	opacity:1;
	text-decoration:none;
}
a.scrollup i:hover {
	text-decoration:none;
}



/* progress bar */



/* footer social icons */



/* ==== media screen queries ==== */

@media (min-width: 768px) and (max-width: 979px) {

	.default {
	position: fixed;
	background:#2a2a2a;
	top:0;
	left: 0;
	width: 100%;
	}

}

@media (max-width: 767px) {
	.default {
		opacity: 1;
	}


	.fixed {
	position: fixed;
	background:#2a2a2a;
	top:0;
	left: 0;
	width: 100%;
		padding-right:20px;
	box-shadow: 0 0 40px #222;
	-webkit-box-shadow: 0 0 40px #222;
	-moz-box-shadow: 0 0 40px #222;
	}

	.sy-caption-wrap {
	  position: absolute;
	  left: 0;
	  text-align: center;
	}
	.sy-caption-wrap .sy-caption {
		position: relative;
		left:0;
		text-align: center;
		font-size: 22px;
		color: #fff;
		top: 30%;
		line-height: 1.1em;
	}	
	.team-box {
		margin-bottom:20px;
	}

	
}



.Footer{
	padding-top: 800px;
}

.fTweet{
	margin-top: 10px;
color: black;
	font-size: 15px;
	font-weight: 600;
}

.twitter-timeline{
	color: black !important;
	list-style-type: none;
	padding-left: 0;

}

.SEO{
	top: 850px;
    z-index: 1000;
}

.myService{
	z-index: 1000;
    bottom: 600px;
}

.copyRight{
	text-align: center;

}

.btnPricing{
	z-index: 1000;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 40px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 25px;
	/* margin-left: 50px; */
  }
  
  @media screen and (max-height: 450px) {
	/* .sidenav {padding-top: 115px;} */
	.sidenav a {font-size: 20px;}
  }

  @media (min-width: 768px){
	  .navbar-brand{
		 
    font-family: auto;
	  }
  }

  .clickButton{
			float: left;
			padding-left: 7px;
			margin-top: 4px;
			color: floralwhite;
			position: absolute;
  }

  .rightArrow{
	  color: white;
  }

  .leftArrow{
	color: white;
}

.mySlides{
	display: none;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none ;
margin-top: 39 px !important;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
 
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */

.BtnArrow{
	float: right;
	font-size: 30px;
	z-index: 6000;
	top: 350px;
	position: relative;
	margin-right: 40px;
	font-weight: 500;
}

.btnArrow{
	float: left;
	font-size: 30px;
	position: relative;
	z-index: 6000;
    top: 350px;
			margin-left: 40px;
			font-weight: 500;
    
}

.row{
	margin-left: 0!important;
	margin-right: 0 !important;
}

.serviceImg{
	width: 425px;
	height: 300px;
}

.content{
	font-size: 17px;
  font-weight: 500;
  margin-bottom: 25px;
 font-family: serif;
	text-align: center;
	width: 300px;
	margin-left: 70px;

}

.sImage{
	width: 425px;
	height: 300px;
	margin-left: 15px;
}

.serviceTop{
	margin-top: 100px;
}

.wrapper {
	position: relative;
	padding-top: 57.95%; /* 16:9 Aspect Ratio */
}
img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

.title{
	text-align: center;
}

.tech{
	z-index: 1000;
    margin-top: 200px;
   
    margin-left: 200px;
}

.digi{
	z-index: 1000;
    margin-top: 200px;
   
    margin-left: 285px;
}

body{
 background-color: #fafafa;
  }

@keyframes taadaa { 
 0% {
   opacity: 0;
 }

 100% {
   opacity: 1;
 }
}

.boxi {
 height: 35px;
 width: 160px;
 opacity: 2;
 
	animation: taadaa 4s ;

}

.imagetext{
	font-weight: 500;
    line-height: 35px;
    border-radius: 30px;
    box-shadow: 2px 4px 7px rgba(15, 14, 14, 0.4196078431372549);
    background-color: #e16971;
    font-size: 20px;
				text-align: center;
				color: ghostwhite;
}

.imagePara{
	letter-spacing: 0px;
    color: #95204A;
    font-size: 20px;
    line-height: 24px;
    font-family: "WhiteAngelicaRegular";
    font-weight: 400;
}

/* .imageAnimation{
position: relative;
  animation: mymove 3s;
		animation-fill-mode: forwards;
		transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    transform: translate(0px, 0px) translateZ(0px);
}

@keyframes mymove {
	from {top: 0px;}
	to {top: 50px; }
	
} */

img.ani {
 -webkit-animation: mover 2s  alternate;
 animation: mover 2s  alternate;
}

@-webkit-keyframes scrolly {
 0%   { transform: translateY(0px);}
 50%  { transform: translateY(calc(-100% + 700px));}
 100% { transform: translateY(0px); }
}
@-moz-keyframes scrolly {
 0%   { transform: translateY(0px); }
 50%  { transform: translateY(calc(-100% + 101px)); }
 100% { transform: translateY(0px); }
}
@-o-keyframes scrolly {
 0%   { transform: translateY(0px); }
 50%  { transform: translateY(calc(-100% + 101px)); }
 100% { transform: translateY(0px); }
}
@keyframes scrolly {
 0%   { transform: translateY(0px); }
 50%  { transform: translateY(calc(-100% + 101px)); }
 100% { transform: translateY(0px); }
}

.navbar-logo{
 padding-right: 10px;
    padding-top: 3px;
    width: 140px;
}


 .animate { 
	animation: slide 1s !important;
	content: "";
	display: table;
	clear: both;
/* 	transform: translateY(700px); */
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 1.25em;
z-index: 2;
display: flex;
flex-direction: column;
}

@keyframes animate{
	0% {
					opacity: 0;
					transform: translateY(0px);
	} 
	100% {
					opacity: 1;
					transform: translateY(700px);
	} 
	0% { transform: translate(0, 0); }
	100% { transform: translate(700px, 0); }
} 


@media only screen and (max-width : 900px){

.btnArrow{
	float: left;
	font-size: 20px;
	position: relative;
	z-index: 6000;
	top: 112px;
	margin-left: 10px;
	font-weight: 500;
}

.BtnArrow{
	float: right;
    font-size: 20px;
    z-index: 6000;
    top: 112px;
    position: relative;
    margin-right: 10px;
    font-weight: 500;
}

.navbar .navbar-brand {
	font-weight: 900;
	color: #fff;
	font-size: 20px;
}

}